@font-face{
  font-family: sunshine;
  src: url('../fonts/A little sunshine.ttf');

}

* {
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #000;
}

.app-wrapper {
    position: relative;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #666;
}

#screen {
    display: table;
    height: 90px;
    width: 100%;
    background-color: #0d0b0b;
    border: 0;
    border-spacing: 0;
}

#overflow {
    position: absolute;
    background: -webkit-linear-gradient(left, #000, #000 35%, rgba(0, 0, 0, 0));
    width: 40%;
    height: 90px;
    left: 0;
    top: 0;
    z-index: 2;
}

#display {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 360px;
    top: 15px;
}

#equation {
    color: white;
    line-height: 90px;
}

#equation.top {
    height: 40px;
    line-height: 40px;
}

#result {
    position: relative;
    color: #43bb2e;
    overflow: hidden;
    z-index: 1;
    display: none;
    float: right;
    width: 100%;
}

#equation, #result {
    white-space: nowrap;
    font-size: 28px;
}

#equation .operator {
    color: #5c90ba;
}

#display:not(.empty-result) > #result {
    display: block;
}

#display.empty-result > #equation {
    font-size: 33px;
}

#equation.medium {
    font-size: 28px !important;
}

#result.error {
    color: red;
    font-size: 24px;
}

#result.small {
    font-size: 13px;
}

#numpad {
    position: absolute;
    top: 90px;
    width: 100%;
    height: 67%;
}

.key.col-4 {
    width: 25%;
}

.key.col-3 {
    width: 38%;
}

.key.col-3.center {
    width: 24%;
}

.key.col-1 {
    width: 100%;
}

.key, .longkey {
    display: block;
    height: 45px;
    float: left;
    padding: 0;
}

.key {
	font-family: "sunshine" , "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #f1c40f;
    border: 1px solid #000;
    border-width: 1px 0 0 1px;
    text-align: center;
    line-height: 44px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

.key.press {
    background-color: #f39c12;
}

.darkblue {
    background-color: #2c4458;
}

.darkblue.press {
    background-color: #152029;
}

.equal {
    background-color: #2ecc71;
}

.equal.press {
    background-color: #27ae60;
}


.lives.col-1 {
    width: 100%;
}

.lives{
	float: left;
	height: 94px;
	position: relative;
	display: block;
	background-color: #34495e;
	padding-left: 33px;

}

.heart {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  transform: translate(50%, 50%);
  background: url(../images/heart.png) no-repeat;
  background-position:-2800px 0;
  margin-top: -60px;
  margin-bottom: 50px;
  margin-left: -45px;
  
}
.end {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  transform: translate(50%, 50%);
  background: url(../images/heart.png) no-repeat;
  background-position:-2800px 0;
  background-position: 0 0;
  transition: background 1s steps(28);
  margin-top: -60px;
  margin-bottom: 50px;
  margin-left: -45px;
}


@keyframes fave-heart {
  0% {
    background-position: -2800px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.winning-container{
  margin: 0;
  padding: 0;
}

.winning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #9b59b6;
  font-size: 33px;
  opacity: 0;
  z-index: 999;
  margin: 0 auto;
  display: none;
}
.winning span {
  position: relative;
  display: block;
  top: 40%;
  width: 100%;
  padding: .35em 1.6em;
  background-color: rgba(255, 255, 255, .2);
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  z-index: 9999;
  text-shadow: 1px 1px #2c3e50;
}
